<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Board Games</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div>
      <a href="/">Home</a>
      <a href="/games/new">Add New Game</a>
      <a href="/games/edit">Update a Game</a>
    </div>
    <%- body %>
  </body>
</html>
