<h1>Add a board game:</h1>
<form method="POST" action="/games">
  <input type="text" name="name" placeholder="Pandemic" />
  <input type="text" name="description" placeholder="Can You Save Humanity?" />
  <input type="submit" value="Add game!" />
</form>